html {
  font-family: "Ubuntu Condensed", sans-serif;
  background-image: url("../images/starfield.png");
  color: #fff;
  text-align: center;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.copy {
  text-shadow: 1px 1px rgba(255, 255, 255, .7);
}

.btn {
  border: 3px solid #b4fff4;
  text-shadow: 1px 1px #90ccc3;
}

.btn:active {
  transform: translateY(4px);
  transform-origin: left top;
}

a {
  color: #b4fff4;
  text-decoration: none;
}

.icon {
  position: relative;
  bottom: 0;
  transition: all 250ms linear;
}

.btn-ghost {
  /* position: absolute;
  z-index: -1;
  top: 50%; */
  border-color: #b4fff4;
  border-radius: 4px;
  transition: all 250ms linear;
}

/* button:focus {
  outline: 3px solid #000;
  outline-offset: 2px;
} */

.btn:hover {
  background-color: rgba(180, 255, 244, .2);
  border: 3px solid #b4fff4;
  transition: all 250ms linear;
}

.btn:hover .icon {
  bottom: 3px;
}
